body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.tabs-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tab {
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  background-color: #f1f1f1;
}

.tab.active {
  background-color: #ccc;
}

.tab-content {
  display: none;
  text-align: center;
}

.tab-content.active {
  display: block;
}body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.tabs-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tab {
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  background-color: #f1f1f1;
}

.tab.active {
  background-color: #ccc;
}

.tab-content {
  display: none;
  text-align: center;
  width: 100%;
}

.tab-content.active {
  display: block;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-block;
  margin: 5px;
  background-color: lightgrey;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}

.circle.selected {
  background-color: green;
}

#app, #decimal-to-binary-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* #binary-circles-svg, #binary-circles {
  margin: 20px 0;
} */

#binary-circles-svg {
  display: block;
  margin: 0 auto;
}

.circles-container {
  text-align: center;
  margin-bottom: 20px;
}

input[type="range"] {
  margin: 20px 0;
}

#binary-decimal-feedback, #decimal-binary-feedback {
  font-size: 1.2em;
  font-weight: bold;
}

#binary-decimal-feedback.correct, #decimal-binary-feedback.correct {
  color: green;
}

#binary-decimal-feedback.incorrect, #decimal-binary-feedback.incorrect {
  color: red;
}


.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-block;
  margin: 5px;
  background-color: lightgrey;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}

.circle.selected {
  background-color: green;
}
